<h3>Focus Triggered Popover</h3>

<div class="row">
  <div class="col-sm-4">
    <p>
      {{#twbs-popover content="Click elsewhere to close this popover." popoverTrigger="focus" as |popover|}}
        {{#popover.trigger}}
          <a href="javascript:void(0)" role="button">Click to gain focus</a>
        {{/popover.trigger}}
      {{/twbs-popover}}
    </p>
    <p>
      {{#twbs-popover content="Click elsewhere to close this popover." popoverTrigger="focus" as |popover|}}
        {{#popover.trigger}}
          <a href="javascript:void(0)" role="button">Click to gain focus</a>
        {{/popover.trigger}}
      {{/twbs-popover}}
    </p>
    <p>
      {{#twbs-popover content="Click elsewhere to close this popover." popoverTrigger="focus" as |popover|}}
        {{#popover.trigger}}
          <a href="javascript:void(0)" role="button">Click to gain focus</a>
        {{/popover.trigger}}
      {{/twbs-popover}}
    </p>
  </div>
  <div class="col-sm-8">
    {{!-- @formatter:off --}}
<pre>
</pre>
      {{!-- @formatter:on --}}
  </div>
</div>
