<section class="container">
  <h1>
    ember-cli-bootstrap3-popover
    <img src="https://badge.fury.io/js/ember-cli-bootstrap3-popover.svg" alt=""/>
  </h1>

  <h2>Examples</h2>
</section>

<section class="container">
  {{popover-demo.click-triggered}}
</section>

<section class="container">
  {{popover-demo.hover-triggered}}
</section>

<section class="container">
  {{popover-demo.focus-triggered}}
</section>

<section class="container">
  <h3>Content</h3>
  <div class="row">
    <div class="col-sm-4">
      {{#twbs-popover popoverTrigger="click" as |popover|}}
        {{#popover.trigger}}
          <button class="btn btn-default">Click This Button</button>
        {{/popover.trigger}}
        {{#popover.content}}
          Click again to hide.
        {{/popover.content}}
      {{/twbs-popover}}
    </div>
    <div class="col-sm-8">
      {{!-- @formatter:off --}}
<pre>
</pre>
      {{!-- @formatter:on --}}
    </div>
  </div>
</section>

{{outlet}}
